body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: white;
  text-align: center;
}

/* Navbar */
nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(0,0,0,0.3);
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Center login */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Card UI */
.card {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 12px;
  width: 300px;
  margin: 30px auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Inputs */
input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  padding: 10px;
  width: 100%;
  background: #667eea;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #5a67d8;
}